@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap');
@font-face {
    font-family: 'TildaSans';
    src: url('/fonts/Tilda/TildaSans-Light/TildaSans-Light.eot');
    src: url('/fonts/Tilda/TildaSans-Light/TildaSans-Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Tilda/TildaSans-Light/TildaSans-Light.woff2') format('woff2'),
         url('/fonts/Tilda/TildaSans-Light/TildaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSans';
    src: url('/fonts/Tilda/TildaSans-Regular/TildaSans-Regular.eot');
    src: url('/fonts/Tilda/TildaSans-Regular/TildaSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Tilda/TildaSans-Regular/TildaSans-Regular.woff2') format('woff2'),
         url('/fonts/Tilda/TildaSans-Regular/TildaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSans';
    src: url('/fonts/Tilda/TildaSans-Medium/TildaSans-Medium.eot');
    src: url('/fonts/Tilda/TildaSans-Medium/TildaSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Tilda/TildaSans-Medium/TildaSans-Medium.woff2') format('woff2'),
         url('/fonts/Tilda/TildaSans-Medium/TildaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSans';
    src: url('/fonts/Tilda/TildaSans-Semibold/TildaSans-Semibold.eot');
    src: url('/fonts/Tilda/TildaSans-Semibold/TildaSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Tilda/TildaSans-Semibold/TildaSans-Semibold.woff2') format('woff2'),
         url('/fonts/Tilda/TildaSans-Semibold/TildaSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSans';
    src: url('/fonts/Tilda/TildaSans-Bold/TildaSans-Bold.eot');
    src: url('/fonts/Tilda/TildaSans-Bold/TildaSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Tilda/TildaSans-Bold/TildaSans-Bold.woff2') format('woff2'),
         url('/fonts/Tilda/TildaSans-Bold/TildaSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSans';
    src: url('/fonts/Tilda/TildaSans-ExtraBold/TildaSans-ExtraBold.eot');
    src: url('/fonts/Tilda/TildaSans-ExtraBold/TildaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Tilda/TildaSans-ExtraBold/TildaSans-ExtraBold.woff2') format('woff2'),
         url('/fonts/Tilda/TildaSans-ExtraBold/TildaSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSans';
    src: url('/fonts/Tilda/TildaSans-Black/TildaSans-Black.eot');
    src: url('/fonts/Tilda/TildaSans-Black/TildaSans-Black.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Tilda/TildaSans-Black/TildaSans-Black.woff2') format('woff2'),
         url('/fonts/Tilda/TildaSans-Black/TildaSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}




/*Reset some default styles*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    /* Global Colors */
    --hero-bg: #1f2431;
    --light-fc: #eef2f9;
    --section-title-color: #4c4e53;
    --work-bg:#443A65;
    --tabs-bg:#645cec;
    --primary-btn-bg:#2979FF;
    --testi-section: #f1f4f9;
    --updates-bg: linear-gradient(#f1f4f9, #fff 10em);
    --footer-bg:#f1f4f9;;
    --primary-color: #202124;
    --secondary-color: #5f6368;
    
    
    --blue: #1a73e8;
    
    /* Typography */
    --font-family: 'Open Sans', sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.6;

    /* Spacing */
    --spacing-unit: 8px;
    --container-max-width: 1200px;

    /* Border Radius */
    --border-radius: 4px;

    /* Shadows */
    --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);


    /* Transitions */
    --transition-duration: 0.3s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}


/* Basic styling for the body */
.page {
    font-family: 'TildaSans', sans-serif;
    font-weight: 400; /* Default to Regular weight */
    background: #fff;
    
}

.section-title{
    color: var(--section-title-color);
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1.5em;
}

.section-desc{
    max-width: 24em;
    width: 100%;
    text-align: center;
    color: var(--section-title-color);
    font-weight: 300;
    font-size: 17px;
}

.section{
    padding: 10px;
    padding-top: 64px;
    padding-bottom: 112px;
}

.section-container{
    max-width: 1400px;
    width: 100%;
    margin-inline: auto;
}

/************************************************************
*                                                            *
*                       HEADER STYLES                        *
*                                                            *
************************************************************/


.header__announcement {
    background: #000;
    text-align: center;
    padding: 5px;
    color: #fff;
    font-size: 11px;
}


.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    backdrop-filter: blur(50px);
    position: relative;
    z-index: 100;/*pay attention to this beacause i did add the particle js thing...*/
}

.header__main-container {
    max-width: 1400px; 
    margin: 0 auto; 
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}


.header__logo{
    width: 100px;
}


.header__main--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    top: 0;
    
}


.header__main--shadow {
    box-shadow: var(--box-shadow);
}


#chkBox {
    display: none;
}


.menu {
    display: inline-flex;
    /*when I click the menu the height of bar changes*/
    font-size: 30px;
    cursor: pointer;
}


#menu__close {
    display: none;
}


#chkBox:checked~.menu #menu__close {
    display: block;
}


#chkBox:checked~.menu #menu__open {
    display: none;
}


.header__navigation {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    /* backdrop-filter: blur(50px); */
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;

}


#chkBox:checked~.header__navigation {
    height: auto;
}


.nav-list {
    list-style: none;
    background-color: #fff;
}


.nav-list__item {
     
    text-align: center;
}


.nav-list__link {
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    position: relative;
    font-weight: 500;
}


.nav-list__link:hover {
    color: var(--primary-color);
}


 


@media (min-width: 769px) {
    .header__announcement{
        font-size: 15px;
    }

    .header__navigation {
        position: static;
        height: auto;
        background-color: transparent;
    }


    .nav-list {
        display: flex;
        justify-content: flex-end;
    }


    .menu {
        display: none;
    }

    .nav-list__link {
        position: relative;

    }

    .nav-list__link::before {
        /* For some animation */
        /* transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms; */

        position: absolute;
        bottom: -5px;
        content: '•';
        opacity: 0;
        display: block;
        width: calc(100% - 20px);
        font-size: 20px;
        color: var(--secondary-color);
        transition: opacity 0.3s ease-in-out; 
        /*full width - left/right padding*/

        

    }

    .nav-list__link:hover::before {
        /* height: 2px; */
        /* transform: scale(1, 1); */
        opacity: 1;
    }



}


/************************************************************
*                                                            *
*                       Hero STYLES                        *
*                                                            *
************************************************************/
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Ensure this sits behind the text content */
}

.hero {
    position: relative;
    background: var(--hero-bg);
    color: var(--light-fc);



}

.hero__content {
    padding: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    

}

.hero__title {
    
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
    font-weight: 700;
}

.hero__subtitle {
    
    
    font-size: 18px;
    margin-bottom: 30px;
}

.hero__buttons {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

/* Button Base Styles */
.button {
    width: 200px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    gap: 8px;
}



.button--primary {
    background-color: var(--primary-btn-bg);
    border-color: var(--primary-btn-bg);
    margin-bottom: 16px;
}


.button--secondary {
    background-color: transparent;
    border-color: #FFFFFF;

}

.button--secondary .button__icon {
    fill: #fff;
    /* Initial SVG fill color */
}

.button--secondary:hover .button__icon,
.button--secondary:focus .button__icon {
    fill: var(--hero-bg);
}



.button:hover,
.button:focus {
    background-color: #FFFFFF;
    color: var(--hero-bg);
    border-color: var(hero-bg)
}

.button--primary:hover,
.button--primary:focus {
    color: var(--primary-btn-bg);
    background-color: #FFFFFF;
    border-color: var(--primary-btn-bg);
    
}


@media (min-width: 768px) {
    .hero__content{
        align-items: center;
    }

    .hero__title {
    
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .hero__subtitle {
        
        text-align: center;
        font-size: 20px;
        margin-bottom: 40px;
    }
    
    .button {
        padding: 15px 30px;
        font-size: 18px;
        margin: 0;
        width: 250px;
    }

    .hero__buttons {
        flex-direction: row;
        margin-top: 48px;
    }


    .hero__buttons .button+.button {
        margin-left: 16px;
    }

}




@media (min-width: 769px) {
    .hero__title {
        font-size: 60px;
        line-height: 72px;
    }

    .hero__subtitle {
        font-size: 24px;
    }
}

/************************************************************
*                                                            *
*                      Feature STYLES                        *
*                                                            *
************************************************************/

.feature {
    background: linear-gradient(0deg, #f1f4f9, #fff 10em);
    text-align: center;
}

.feature__title {
    
    
}

.feature__desc {
    margin-inline: auto;
    margin-bottom: 20px;
}


.feature__features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
}


.feature-item {
    padding: 30px;
    width: 300px;
    margin: 10px;
    max-width: 100%;
    box-shadow: var(--box-shadow);
}


.feature-item__icon {
    width: 50px;
    height: 50px;
    margin-inline: auto;
    margin-bottom: 10px;
}


.feature-item__title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #202124;
    margin-bottom: 30px;
    /* white-space: nowrap; */

}


.feature-item__description {
    font-weight: 300;
    font-size: 16px;
    color: var(--section-title-color);
}


@media (min-width: 769px) {
    .feature__title {
        
    }
}


/************************************************************
*                                                            *
*                      How-it-works STYLES                   *
*                                                            *
************************************************************/

.how-it-works{
    
    /* background-color: #f2f5fa; */
}

.how-it-works__intro{
    margin-inline: auto;
    margin-bottom: 40px;
    
    
}

.tabs {
    margin: 0 auto;
    
    width: 100%;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    
    
}

.tabs__controls {
    display: flex;
    /* background: var(--hero-bg); */
    background-color: var(--tabs-bg);
    
    border-radius: 25px 25px 0 0;
    
}

.tabs__icon{
    display: block;
    max-width: 50px;
    width: 100%;
    height: auto;
    
}

.tabs__button {
    flex: 1;
    padding: 30px 10px;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    background: none;
    cursor: pointer;
    transition: background 0.3s ease;
    color: #fff;
    opacity: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.tabs__button:hover, .tabs__button--active {
    opacity: 1;
}

.tabs__content {
    padding: 40px 20px;
    /* background-color: #fff; */
}

.tabs__pane {
    display: none;
    /* height: 400px; */
}

.tabs__pane--active {
    
    display: flex;
    flex-direction: column;
    align-items: center; 

    gap: 20px;
}
.tabs__pane-content, .tabs__pane-image {
    flex: 1; /* Both the content and image take up equal space */
}

.tabs__pane-image img {
    width: 100%; /* Make the image fill the container */
    max-width: 300px; 
    height: auto; /* Keep the image aspect ratio */
}

.tabs__text{
    /* font-weight: 300; */
}

@media (min-width: 769px) {
    .tabs__pane--active{
        flex-direction: row;
    }

    .tabs{
        max-width: 900px;
        width: 100%;
    }
}

/************************************************************
*                                                            *
*                      PBU STYLES                            *
*                                                            *
************************************************************/
.filepond--credits {
    display: none;
}



#pbu{
    background: url("img/pbu-bg.jpg");
    background-position: center;
    background-size: cover;
    /* background-blend-mode: luminosity;
    background-color: #999; */
    background-color: var(--hero-bg);
}

.pbu {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* Center items on mobile */
    color: #fff;
    gap: 20px;
    /* Space between content and form */
    width: 100%;
    /* Ensures the section takes full width of its container */
    /* max-width: 1200px; */
    /* Sets a maximum width to prevent the content from stretching too far on large screens */
    margin: auto;
    
    /* background: var(--tabs-bg); */
    
}

.pbu__content,
#uploadForm {
    width: 100%;
    /* Full width on mobile */
    
}

#uploadForm{
    /* border: 1px solid #2979FF; */
    height: 100%;
    padding: 100px 0px;
    /* border-radius: 20px; */
}

/* Basic styling for text and form elements for better appearance */
.pbu__title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 800;
}

.pbu__desc {
    font-size: 16px;
    margin-bottom: 20px;
}

#apiTokenInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f1f0ef;
}

#apiTokenInput:focus {
    outline: none;
    border-color: #ffffff;
}

#uploadButton::placeholder {
    color: #999;
}


#uploadButton {
    width: 100%;
    padding: 10px;
    
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--primary-btn-bg);
    border-color: var(--primary-btn-bg);
    color: #fff;
}

#uploadButton:hover,
#uploadButton:focus {
    color: var(--primary-btn-bg);
    background-color: #FFFFFF;
    border: 2px solid var(--primary-btn-bg);
}

/* Media query for larger screens */
@media (min-width: 768px) {

    #uploadForm{
        order: 1;
    }
    .pbu__content{
        order: 2;
    }
    .pbu {
        
        flex-direction: row;
        justify-content: space-between;
        align-items: center
        

    }

    .pbu__content,
    #uploadForm {
        flex: 1;
        /* Allow both to grow equally */
        min-width: 300px;
        /* Prevent them from getting too narrow */
        max-width: 50%;
        /* Limit width to avoid overly wide elements */
    }

    .pbu__title {
        font-size: 26px;

        /* Larger font size for desktop */
    }
}






/************************************************************
*                                                            *
*                       Testimonials STYLES                  *
*                                                            *
************************************************************/
.testimonials {
    background: linear-gradient(0deg, #f1f4f9, #fff 10em);
}


.testimonials__title {

    

}

.testimonials__desc {
    margin: 0 auto;
    margin-bottom: 20px;
}



.testimonials__slider {
   
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    /* border: 1px solid black; */
    /* height: 350px; */
}


@media (min-width: 769px) {
    .testimonials__slider {
        max-width: 700px;
    }
}



.testimonials-list {
    display: flex;
    overflow: hidden;
}

.testimonial {
    width: 100%;
    flex: 0 0 auto;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial__quote {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}

.testimonial__user {
    font-size: 14px;
    color: #888;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #333;
    padding: 10px;
    height: 100%;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}



/************************************************************
*                                                            *
*                      integration STYLES                    *
*                                                            *
************************************************************/

.integration{
    background: var(--hero-bg);
    color: #fff;
}


.integration__title{
    color: #fff;
}


.integration__subtitle{
    margin-inline: auto;
    margin-bottom: 50px;
    color: #fff;
}

.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.partners__link{
    color: var(--tabs-bg);
    text-decoration: none;
}

.partners__link:hover{
    text-decoration: underline;
}


.partners__logos{
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    max-width: 25rem;
}

.partner{
    display: inline-flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    gap: 10px;
    
}

.partner p{
    font-weight: 300;
    color: #fff;
    font-size: 11px;
}


.partner__container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:80px;
    height:80px;
    
    border-radius: 0.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms;
    padding: 1rem;
}


.partner:hover .partner__container{
    border-radius: 25px;
}

.partner__logo{
    display: block;
    width: 100%;
}



.partner__container--etsy{
    background: rgb(253 233 221);
}

.partner__container--shopify{
    background: rgb(216 232 186);
}

.partner__container--woo{
    background: rgb(214 190 209);
}

.partner__container--square{
    background: rgb(255 255 255);
}

.partner__container--wix{
    background: rgb(253 243 204);
}

.partner__container--big{
    background-color: rgb(227 246 255);
}



@media (min-width:769px) {
    .partners{
        flex-direction: row;
        align-items: flex-start;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }

    .partners__content{
        flex-basis: 40%;
    }

    .partners__logos{
        flex-basis: 60%;
    }


    .partner p{
       
        font-size: 15px;
    }
}

/************************************************************
*                                                            *
*                      Updates STYLES                    *
*                                                            *
************************************************************/

.upcoming-updates {
    padding-top: 8em;
    background: var(--updates-bg);
}

.upcoming-updates__title {
    
    
    
}

.upcoming-updates__list{
    margin-top: 5rem;
}

.upcoming-updates__item {
    margin-bottom: 20px;
}

.upcoming-updates__item-title {
    font-size: .9rem;
    color: var(--section-title-color);
    margin-bottom: 10px;
    font-weight: 600;
}

.upcoming-updates__item-description {
    font-size: .8rem;
    color: #606368;
    line-height: 1.6;
    font-weight: 300;
}

/* Larger screens */
@media (min-width: 768px) {
    .upcoming-updates__container {
        max-width: 800px;
        margin: auto;
    }

    .upcoming-updates__title {
        font-size: 2rem;
    }

    .upcoming-updates__item-title {
        /* font-size: 1.5rem; */
    }

    .upcoming-updates__item-description {
        /* font-size: 1.2rem; */
    }
}

/* Further enhancements for larger desktops */
@media (min-width: 1024px) {
    .upcoming-updates__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .upcoming-updates__item {
        margin-bottom: 30px;
    }
}








/************************************************************
*                                                            *
*                      Contact us STYLES                     *
*                                                            *
************************************************************/

.contact-us {

    background-color: #fff;
    
}

.contact-us__container {
    
}

.contact-us__title {
    
}

.contact-us__intro {
    
    margin: 0 auto;
    margin-bottom: 30px;
}

.contact-us__form {
    max-width: 900px;
    width: 100%;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
}

.contact-us__form-group {
    display: flex;
    flex-direction: column;
}



.contact-us__form-input,
.contact-us__form-textarea {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #202124;
    
}

.contact-us__form-textarea {
    resize: vertical;
    min-height: 150px;
}

.contact-us__form-submit {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--hero-bg);
    max-width: 200px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.contact-us__form-submit:hover {
    background-color: transparent;
    color: var(--hero-bg);
    border: 1px solid var(--hero-bg);
}

/* Adjustments for larger screens */
@media (min-width: 768px) {
    
}


/************************************************************
*                                                            *
*                       Footer STYLES                        *
*                                                            *
************************************************************/

.footer {
    background: var(--footer-bg);
    
    
    
}

.footer__container{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer__copyright{
    font-weight: 300;
    font-size: 11px;
    text-align: center;
    padding-bottom: 10px;
}


.footer__links{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}



.footer__link {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
}

.footer__link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.footer__socials-title{
    font-weight: 300;
    font-size: 13px;
}

.footer__socials{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer__icon-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon-link{
    
    display: block;
    width: 32px;
    padding: 5px;
}

.footer__icon-link svg{
    fill: var(--secondary-color);
}

@media (min-width: 769px) {
    .footer{
        flex-direction: row;
    }
    .footer__links {
        /* padding: 50px; */
        flex-direction: row;
    }

    .footer__container{
        flex-direction: row;
        padding-top: 40px;
        padding-bottom: 20px;
         
    }
}